a:hover {
  text-decoration: underline;
}

.actual-content {
  & p {
    margin-bottom: 1rem;
  }

  & h2 {
    font-size: 2.25rem;
  }
  & h3 {
    font-size: 1.875rem;
  }
  & h4 {
    font-size: 1.5rem;
  }
}

.post-leader-section {
  position: relative;
  z-index: 1;

  &:before,
  &:after {
    background: inherit;
    content: "";
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; // for Chrome Windows
  }

  &:before {
    top: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0;
  }

  &:after {
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
  }
}

// TODO fix this

.viewport {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.fill-viewport {
  flex-grow: 1;
}

// todo compile ourselves!

