@import "../../../../node_modules/tailwindcss/tailwind.css";
// https://www.viget.com/articles/angled-edges-with-css-masks-and-transforms/
a: hover {
  text-decoration: underline;
}

.actual-content p {
  margin-bottom: 1rem;
}

.actual-content h1 {
  @extend .text-sm !optional;
}

.post-leader-section {
  position: relative;
  z-index: 1;

  &:before,
  &:after {
    background: inherit;
    content: "";
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; // for Chrome Windows
  }

  &:before {
    top: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0;
  }

  &:after {
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
  }
}

// TODO fix this
// .viewport {
//   display: flex;
//   flex-direction: column;
//   height: 100vh;
// }

// .fill-viewport {
//   flex-grow: 1;
// }
