<footer class="relative bg-gray-800 text-gray-500 px-4 py-4">
  <!-- "relative bg-gray-800 text-gray-500 pt-10 sm:pt-10 md:pt-16 lg:pt-16 xl:pt-20 pb-5 sm:pb-6 md:pb-6 lg:pb-6 xl:pb-6"> -->
  <div class="container mx-auto">
    <div class="flex flex-wrap">
      <div class="w-full md:w-7/12">
        <p class="text-md">
          <a href="https://github.com/evertedsphere/website" class="underline"
            >source</a
          >
          &middot; licensed CC-BY-NC-SA 4.0
        </p>
      </div>
      <div class="invisible md:visible md:w-5/12"></div>
    </div>
  </div>
</footer>
