<head profile="http://www.w3.org/2005/10/profile">
  <meta charset="UTF-8" />
  <meta name="description" content="{{siteTitle}}" />
  <meta name="author" content="{{author}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{>site/templates/meta-data.html}}
  <title>
    {{#title?}}{{title}}{{/title?}}{{^title}}{{siteTitle}}{{/title}}
  </title>
  <link
    href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/css/stylesheet.css" />
  <link rel="stylesheet" href="/css/syntax.css" />
</head>
